.header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    background-color: #d9d9d9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
    height: 120px; 
  }
  
  .header-logo {
    height: 100%; 
    width: auto;
    max-width: 220px; 
    margin-right: 20px; 
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    text-align: center;
  }
  
  .rectangle-title {
    font-size: 28px; 
    color: #333;
    margin-bottom: 0px; 
  }
  
  .rectangle-description {
    font-size: 18px; 
    color: #666;
    margin-top: 0px;
  }
  