.playlist-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 250px;
  align-items: center;
  justify-content: center;
}

.playlist-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.input-section, .player-section, .request-history {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.input-section, .request-history {
  flex: 1;
}

.input-section {
  align-items: center;
  text-align: center;
}

.input-section input[type="text"] {
  width: 100%;
}

.player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.request-history {
  display: flex;
  flex-direction: column;
  max-height: 400px; 
}

.history-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px; 
}

.history-list li {
  margin-bottom: 10px;
}

.history-list > *:last-child {
  margin-bottom: 0;  
}

.about-button-container {
  margin-top: auto; 
}

.about-button-container button, .input-section button {
  width: 100%;
  padding: 10px;
  background-color: #1B2536; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.spotify-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #1B2536;
  text-decoration: none;
  font-weight: bold;
}

.spotify-link:hover {
  text-decoration: underline;
}