.playlist-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 250px;
  align-items: center;
  justify-content: center;
}

.playlist-container {
  display: flex;
  width: 100%;
  max-width: 960px;
  flex: 1;
  gap: 20px;
  padding: 50px;
  justify-content: space-between;
}

.input-section, .player-section, .request-history {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
}

.input-section h2, .request-history-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: inherit;
  width: 100%;
}

.input-section, .request-history {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-grow: 1;
  flex-basis: 0; 
  max-width: 300px; 
  margin: 0 auto;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;

}

.input-section button {
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
}

.request-history-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: inherit;
  width: 100%;
}


.input-wrapper h2 {
  text-align: center;
  margin-bottom: 20px; 
  font-weight: bold;
  font-size: 1.2em;
}

.input-wrapper input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}


.player-section {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  align-items: center;
  flex: 2;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.request-history-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.request-history {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.history-list {
  flex-grow: 1;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
}

.history-list li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-list li:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.history-item-description {
  margin-bottom: 5px;
}

.history-item-timestamp {
  color: #666;
  font-size: 0.9em;
}

.about-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.spotify-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #1B2536;
  text-decoration: none;
  font-weight: bold;
}

.spotify-link:hover {
  text-decoration: underline;
}
